@media screen and (max-width: 800px) {
    header {
        padding: 5px !important;
    }

    .form-service{
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: 575px;
    }

    .main-info-contact{
        padding: 45px 20px 60px 20px;
    }

    textarea {
        resize: none;
        padding: 60px 10px!important;
    }


}

@media screen and (min-width: 800px) {
    header {
        padding: 35px 130px 35px 130px !important;
    }

    .form-service{
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: 575px;
    }


    textarea {
        resize: none;
        padding: 30px 10px!important;
    }
}

.contact-info {
    padding: 0 0 93px 0!important;
}



.header-links{
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    margin: 0;
}

.info-partners > p:first-of-type{
    color: black!important;
    letter-spacing: normal!important;
}



.form-service > label{
    color: black;
    margin-bottom:16px;
    font-size: 20px;
}

.form-service > input,
.form-service > textarea{
    padding: 10px 0;
    margin-bottom:21px;
    background: #EEE;
    border: 1px solid black;
    border-radius: 5px;
}

.form-service > button{
    padding: 10px 0;
    font-family: 'Work Sans', sans-serif;
    background: #212529;
    color: white;
    font-size:20px;
    border-radius: 5px;
    border: 1px solid black;
}

.main-info-contact{
    justify-content: space-between;
    display: flex;
}

.map > img{
    width: 100%;
}